.tabs {
    width: 100%;
    .tabHeaders {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        button {
            background: none;
            border: none;
            font-size: 18px;
            margin: 0 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 10px 20px;
            cursor: pointer;
            color: #9F9F9F;
            font-family: 'Montserrat' sans-serif;
            font-weight: 600;
            font-size: 22px;
            &:hover{
                color: #474747;
            }
            &.active {
                border-bottom: 2px solid black;
                font-weight: bold;
                color:#474747 ;
            }
        }
    }
    .tabContent {
        .productList {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
    }
}
