.sectionSeven {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  
    .sectionHeader {
      width: 87%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      margin-bottom: 20px;
  
      h2 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: rgb(33, 37, 41);
      }
  
      .moreLink {
        border-bottom: 2px solid #d11946;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: rgb(71, 71, 71);
  
        &:hover {
          border-bottom: 2px solid #982a60;
        }
      }
    }
  
    .productList {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }