* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 950px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
  background-color: #f9f9f9;
  
  .containerContacts {
    width: 100%;
    height: 100%;
    .border {
      width: 100%;
      // height: 400px;
    }
  }
  .contactformcontainer {
    width: 87%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
    min-height: 600px;
    h2 {
      text-align: start;
      margin-bottom: 20px;
      width: 100%;
    }

    .contactform {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 450px;
      input,
      .inputMsg {
        border: none;
        height: 40px;
        outline: none;
        resize: vertical;
        border-bottom: 1px solid grey;
      }

      .formrow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        gap: 20px;
        width: 100%;

        input {
          border: none;
          width: 50%;
          height: 40px;
          outline: none;
          resize: vertical;
          border-bottom: 1px solid grey;
        }
      }
      button {
        padding: 15px 20px;
        background-color: #d9534f;
        color: #fff;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        width: 10%;

        &:hover {
          background-color: #c9302c;
        }
      }
    }
  }
}

.contactform input,
.contactform textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: hidden;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.contactform button[type="submit"] {
  align-self: flex-start;
  width: 10%;
}
