* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.advantageSec {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  min-height: 135px;
  .containerAd {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 89%;

    .sections {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      .delivery {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border-right: 2px solid #dedede;
        padding: 12px;
        gap: 14px;
        .deliveryPic {
          display: flex;
          height: 33px;
        }
        .deliveryText {
          display: flex;
          font-size: 14px;
          font-weight: 600;
          color: rgb(71, 71, 71);
          gap: 10px;
        }
      }
      .sales {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border-right: 2px solid #dedede;
        padding: 12px;
        gap: 14px;
        .salesPic {
          display: flex;
          height: 33px;
        }
        .salesText {
          display: flex;
          font-size: 14px;
          font-weight: 600;
          color: rgb(71, 71, 71);
          gap: 10px;
        }
      }
      .price {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border-right: 2px solid #dedede;
        padding: 12px;
        gap: 14px;
        .pricePic {
          display: flex;
          height: 33px;
        }
        .priceText {
          display: flex;
          font-size: 14px;
          font-weight: 600;
          color: rgb(71, 71, 71);
          gap: 10px;
        }
      }
      .payment {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 12px;
        gap: 14px;
        .paymentPic {
          display: flex;
          height: 33px;
        }
        .paymentText {
          display: flex;
          font-size: 14px;
          font-weight: 600;
          color: rgb(71, 71, 71);
          gap: 10px;
        }
      }
    }
  }
}
@media screen and (min-width:300px) and (max-width:576px) {
  .advantageSec {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-height: 135px;
    .containerAd {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
  
      .sections {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        .delivery {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          border-right: 2px solid #dedede;
          padding: 12px;
          gap: 14px;
          .deliveryPic {
            display: flex;
            height: 30px;
          }
          .deliveryText {
            display: flex;
            font-size: 10px;
            font-weight: 600;
            color: rgb(71, 71, 71);
            gap: 10px;
          }
        }
        .sales {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          border-right: 2px solid #dedede;
          padding: 12px;
          gap: 14px;
          .salesPic {
            display: flex;
            height: 30px;
          }
          .salesText {
            display: flex;
            font-size: 10px;
            font-weight: 600;
            color: rgb(71, 71, 71);
            gap: 10px;
          }
        }
        .price {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          border-right: 2px solid #dedede;
          padding: 12px;
          gap: 14px;
          .pricePic {
            display: flex;
            height: 30px;
          }
          .priceText {
            display: flex;
            font-size: 10px;
            font-weight: 600;
            color: rgb(71, 71, 71);
            gap: 10px;
          }
        }
        .payment {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          padding: 12px;
          gap: 14px;
          .paymentPic {
            display: flex;
            height: 30px;
          }
          .paymentText {
            display: flex;
            font-size: 10px;
            font-weight: 600;
            color: rgb(71, 71, 71);
            gap: 10px;
          }
        }
      }
    }
  }
}