// // .carousel {
// //     width: 87%;
// //     overflow: hidden;
// //     position: relative;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //   }
  
// //   .carouselInner {
// //     display: flex;
// //     transition: transform 0.5s ease-in-out;
// //     display: flex;
// //     justify-content:center;
// //     align-items: center;
// //   }
  
// //   .carouselItem {
// //     min-width: calc(87% / 7); 
// //     box-sizing: border-box;
// //   }
  
// //   .carouselItem img {
// //     width: 100%;
// //     height: 30px;
// //     display: block;
// //     object-fit: contain;
// //   }
// .carousel {
//   width: 87%;
//   overflow: hidden;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto; /* Center carousel in the container */
// }

// .carouselInner {
//   display: flex;
//   transition: transform 0.5s ease-in-out;
//   justify-content: center;
//   align-items: center;
// }

// .carouselItem {
//   min-width: calc(87% / 7); 
//   box-sizing: border-box;
// }

// .carouselItem img {
//   width: 100%;
//   height: 30px;
//   display: block;
//   object-fit: contain;
// }
.carousel {
  width: 87%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center carousel in the container */
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

.carouselItem {
  min-width: calc(87% / 7); 
  box-sizing: border-box;
  border-right: 1px solid grey; /* Border on the right side */
}

.carouselItem img {
  width: 100%;
  height: 30px;
  display: block;
  object-fit: contain;
}
