* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  body {
    overflow-x: hidden; 
  }
  .last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 215px;
    background-color: #474747;
    .containerlast {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      
      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        text-align: start;
        padding: 20px;
        gap: 10px;
        .text {
          width: 100%;
          img {
            width: 55%;
            position: 70px;
            
          }
        }
        h3 {
          font-family: "Montserrat" sans-serif;
          font-size: 13px;
          font-weight: 500;
          color: #bababa;
          width: 100%;
        }
      }
  
      .middle {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: 30px;
        margin-top: -40px;
        gap: 15px;
        h4 {
          font-family: "Montserrat" sans-serif;
          font-size: 20px;
          font-weight: 600;
          color: white;
          width: 60%;
        }
        p {
          font-family: "Montserrat" sans-serif;
          font-size: 13px;
          font-weight: 500;
          color: #bababa;
          width: 60%;
        }
      }
      .right {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        
        h4 {
          font-family: "Montserrat" sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: white;
          width: 60%;
          color: white;
          display: flex;
        }
        .numbers {
            display: flex;
            flex-direction: column;
              span {
          font-family: "Montserrat" sans-serif;
          font-size: 13px;
          font-weight: 500;
          color: #bababa;
          width: 100%;
          display: flex;
          
        }
        }
       
         p {
          color: #bababa;
          font-family: "Montserrat" sans-serif;
          font-size: 13px;
          font-weight: 500;
          text-align: start;
          display: flex;
        }
      
       
      }
    }
  }