* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.drops {
  width: 100%;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  .containerDrops {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 15px;
    position: relative; 
    .navItem {
      display: flex;
      justify-content:center;
      align-items: center;
      width: 15%;
      position: relative;
      padding: 10px;
      cursor: pointer;
      bottom: 25px;
      color: rgb(41, 41, 41); 
      font-size: 14px; 
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      line-height: normal;
      height: 62px;
      &:hover .dropdownMenu {
        display: flex;

      }
      &:nth-child(n + 2) {
        border-left: 1px solid #E7EAED; 
      }
    
      
      .navIcon {
        margin-right: 18px;
        width: 20px;
        height: 18px;

      }

      &.digerNavItem .navIcon {
        width: 34px; 
        height: 8px; 
      }
      .dropdownMenu {
        display: none;
        position: absolute;
        top: 40px;
        left: 20;
        right: 20;
        width: 100%; 
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex-wrap: wrap;
        z-index: 1;
        .dropdownItem {
          margin: 5px 10px;
          white-space: nowrap;
        }
      }
    }
  }
}
